{% load static %}
<!DOCTYPE html>
<html lang="en" style="min-width: 202px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RealEstate For U</title>
    <link rel="stylesheet" href="{% static 'jyore/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.6/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{% static 'jyore/css/animate.min.css' %}">
    <style>
        
        .search-bar {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            padding: 10px;
        }

        /* CSS for displaying the selected option from the dropdown */
        .selected-option {
            color: #fff;
            font-weight: bold;
        } 
        
    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top " style="background: rgba(255,249,249,0.48);border-bottom-width: 1px;border-bottom-style: solid;border-radius: 0px;box-shadow: 0px 0px 4px rgb(0,0,0);backdrop-filter: blur(8px);-webkit-backdrop-filter: blur(8px);">
        <div class="container"><a class="navbar-brand" href="#">RealEstate For U</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">    
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'marketplace'%}">MarketPlace</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">MarketPlace</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-primary ms-auto" role="button"href="{%url 'logout'%}" style="margin-right: 13px;">Logout</a>
            {% else %}
            <a class="btn btn-primary ms-auto" role="button"href="{%url 'register'%}" style="margin-right: 13px;">Sign Up</a>
            <a class="btn btn-primary ms-auto" role="button" href="{%url 'login'%}">Sign In</a>
            {% endif %}
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex masthead" style="background-image:url(&quot;{% static 'jyore/images/indexheader.jpg' %}&quot;);background-size: cover;">
        <div class="overlay"></div>
        <div class="container my-auto">
            <div class="row">
                <div class="col-md-12 position-relative">
                    <h1 class="display-1 mb-1 text-capitalize" >RealEstate For U</h1>
                    <h3 class="mb-5">Find Your Dream Home</h3>
                    <div class="input-group justify-content-center align-items-center search-bar">
                        <form class="d-flex me-2" id="search-form">
                            {% csrf_token %}
                            <div class="input-group">
                                <button class="btn btn-outline-primary" type="button" id="fetch-location"><i class="fas fa-map-marker-alt"></i></button>
                                <input class="form-control" type="search" name="location" id="location-input" placeholder="Location">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Property Type
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" data-value="House">House</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="Land">Land</a></li>
                                    </ul>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Searching For
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" data-value="Rent">Rent</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="Sell">Sell</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </div>
                        </form>
                        <div class="selected-option" id="selected-option">Property Type: </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="features-icons bg-light text-center" style="padding-top: 25px;padding-bottom: 25px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="fas fa-building m-auto text-primary"></i></div>
                        <h3><strong>Buy Property</strong></h3>
                        <p class="lead mb-0">Browse through a wide range of properties available for purchase.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="fas fa-home m-auto text-primary"></i></div>
                        <h3><strong>Rent Property</strong></h3>
                        <p class="lead mb-0">Discover rental properties that meet your needs and preferences.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="fas fa-handshake m-auto text-primary"></i></div>
                        <h3><strong>Sell Property</strong></h3>
                        <p class="lead mb-0">List your property for sale and reach potential buyers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;{% static 'jyore/images/showcase.jpg' %}&quot;);"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Find Your Dream Home</h2>
                    <p class="lead mb-0">Explore a wide range of properties and find the one that suits your needs.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;{% static 'jyore/images/showcase1.jpg' %}&quot;);"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>List Your Property</h2>
                    <p class="lead mb-0">Sell or rent your property and connect with potential buyers or tenants.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;{% static 'jyore/images/showcase3.jpg' %}&quot;);"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Contact Us</h2>
                    <p class="lead mb-0">Get in touch with our team for any inquiries or assistance.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="call-to-action text-white">
        <div class="overlay"></div>
        <div class="container text-center"> <!-- Add the "text-center" class here -->
            <div class="row">
                
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0 m-auto">
                                <h2 class="mb-4">Ready to get started?</h2>
                                <input class="form-control form-control-lg" type="email" placeholder="Enter your email...">
                                <button class="btn btn-primary btn-block btn-lg m-3" type="submit">Sign up!</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="py-5 bg-black">
        <div class="container"><p class="m-0 text-center text-white small">© 2023 RealEstate For U. All rights reserved.</p></div>
    </footer>
    <script src="{% static 'jyore/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
